*.sqlite*
/node_modules
/public/build
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
/.fleet
/.nova
/.phpunit.cache
/.phpactor.json
/.zed
/auth.json
*.log
/storage/*.key
/storage/pail
/bootstrap/cache/*.php # Pastikan cache konfigurasi tidak ikut ter-commit
/bootstrap/cache/config.php
/bootstrap/cache/routes.php
/bootstrap/cache/services.php
/bootstrap/cache/events.php